* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./Image/japanesefood.jpg);
  background-position: center;
}

form {
  width: auto;
  height: auto;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  padding: 15px;
  color: white;
}

form h1 {
  text-align: center;
}

form .change-password {
  margin-top: 15px;
  font-size: 18px;
}

form .change-password .email,
form .change-password .username,
form .change-password .password,
form .change-password .confirm-pswd,
form .change-password .login,
form .change-password footer {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

form .change-password .email #email,
form .change-password .username #username,
form .change-password .password #password,
form .change-password .confirm-pswd #confirm {
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 2px;
}

form .change-password .login {
  font-size: 15px;
  color: #999;
  letter-spacing: 0.5px;
}

form .change-password .login a {
  text-decoration: none;
}

form .change-password .login a:visited {
  color: blue;
}

form .change-password button {
  margin: 8px;
  padding: 2px;
  width: 21.4em;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: dodgerblue;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

form .change-password button:hover {
  transition: 0.2s ease-in-out;
  background-color: lightslategray;
}

form .change-password footer p {
  font-size: 13.5px;
  color: #999;
}
